
  <div class = "side-nav__header" >Calculator</div>
  <div>

  <hr class = "side-nav__divider">
  
  </div>

  <div class = "calculator__field-container" style = "padding: 10px 36px 0px 8px">

    <div style = "text-align: right; font-size: 16px; height: 20px">{{queue|queueDisplay:param}}  </div>
    <div style = "text-align: right; font-size: 32px; color: #000000; height: 45px;">{{operand}}  </div>

  </div>

  <table style = "margin: 20px; margin-bottom: 0px">

    <tr>
      <td>
        <div class = "calculator__button" (click)="percent()"><div class = "calculator__number">%</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setUnaryOperator('sqrt')"><div class = "calculator__number">√</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setUnaryOperator('square')"><div class = "calculator__number">x<sup>2</sup></div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setUnaryOperator('invMul')"><div class = "calculator__number">1/x</div></div>
      </td>

    </tr>
    <tr>
      <td>
        <div class = "calculator__button" (click)="clearAll()"><div class = "calculator__number">CE</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="clearOperand()"><div class = "calculator__number">C</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="backspace()"><div class = "calculator__number">⌫</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setBinaryOperator('div')"><div class = "calculator__number">÷</div></div>
      </td>

    </tr>
    <tr>
      <td>
        <div class = "calculator__button" (click)="setOperand('7')"><div class = "calculator__number num">7</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setOperand('8')"><div class = "calculator__number num">8</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setOperand('9')"><div class = "calculator__number num">9</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setBinaryOperator('mult')"><div class = "calculator__number">x</div></div>
      </td>

    </tr>
    <tr>
      <td>
        <div class = "calculator__button" (click)="setOperand('4')"><div class = "calculator__number num">4</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setOperand('5')"><div class = "calculator__number num">5</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setOperand('6')"><div class = "calculator__number num">6</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setBinaryOperator('sub')"><div class = "calculator__number">-</div></div>
      </td>

    </tr>

    <tr>
      <td>
        <div class = "calculator__button" (click)="setOperand('1')"><div class = "calculator__number num">1</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setOperand('2')"><div class = "calculator__number num">2</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setOperand('3')"><div class = "calculator__number num">3</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setBinaryOperator('add')"><div class = "calculator__number">+</div></div>
      </td>

    </tr>

    <tr>
      <td>
        <div class = "calculator__button" (click)="setUnaryOperator('invAdd')"><div class = "calculator__number num">±</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setOperand('0')"><div class = "calculator__number num">0</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="setDecimal()"><div class = "calculator__number num">.</div></div>
      </td>
      <td>
        <div class = "calculator__button" (click)="evaluate()"><div class = "calculator__number">=</div></div>
      </td>

    </tr>
  
  </table>
  
  


  <i style = "cursor: pointer; color: #0b2d53; font-size: 24px; padding: 30px" class = "fa fa-angle-double-right" (click) = "closeCalc()" ></i>