
<div class="header" style = "display: table" (window:resize)="resizeScreen($event)">

    <div style = "display: table-row">

        <div class="header__body" style = "display: table-cell">
        
        <div class = "hamburger__container">

            <i class="fa fa-bars fx-3x hamburger__symbol" aria-hidden="true" (click)="toggleNav()"></i>

        </div>
    
    
        <div class = "header__logo" *ngIf = "logoDisplay">SOLÜ</div>
    
        <div class="header__utility">

            <div class = "header__utility__search-container" [ngStyle] = "{'width': searchWidth}">

                <div class = "header__utility__search" [ngStyle] = "{'width': searchWidth,'cursor': cursorType}">
                
                <span class="fa fa-search"></span>
                <input type="text" [ngModel] = "searchValue" (ngModelChange)="valueChanged($event)"  (focus) = "openSearchBar()" (focusout)="closeSearchBar()" pInputText/>
                </div>
            </div>

            <div class = "header__utility__button-container">

                <p-menu #menu popup="popup" [model]="items" appendTo="body" ></p-menu>

                <div class="button__initial" (click)="menu.toggle($event)">

                    <div class = "button__initial--text">JL</div>

                </div> 

            </div>

        </div>

    </div>

</div>
 
