<div class="login">

    <img src="assets/img/solu/mainlogo.png" class = "login__solu-logo">

    <div class = "login__button" (click)="login()">

        Log in with Google Account

    </div>
    
</div>
