<div style = "display: table" [ngStyle]="{'height': tableHeightString}">

  <div style = "display: table-row">

    <div style = "display: table-cell">  
      
      <div class = "side-arrow-container" *ngIf="columnsHidden">

        <i class = "fa fa-chevron-left fa-3x" (click) = "moveLeft()"></i>

      </div>

    </div>

    <div style = "display: table-cell">

      <div class = "page-header-text">Report List</div>

      <br>

      <div style = "padding-bottom: 10px; padding-top: 10px; font-size: 15px" >

        <span style = "color: #a01c20; font-weight: bold">{{showingFirst+1}}
        <span class = "hidden-sm hidden-xs">- {{showingLast}}</span></span> of 
        <span style = "color: #a01c20; font-weight: bold">{{numRecords}}
        </span>
           <select [ngModel] = "numRows" (ngModelChange)="updateTable($event)" *ngIf="!columnsHidden">
          <option value="5">5</option>
          <option value="10">10</option>
        </select>

        <div style = "float: right" class = "hidden-sm hidden-xs" (click)="bulkActions.toggle($event)">

          Bulk Actions <i class = "fa fa-chevron-down"></i>

        </div>
      
        <p-menu #bulkActions popup="popup" [model]="bulkActionMenu"  appendTo="body" ></p-menu>

      </div>

      <p-dataTable [value]="reportsShown" [rowHover] = "true" [lazy]="true"  [rows]="numRows"
                   [emptyMessage]="noRecords" [responsive]="true" (onLazyLoad)="updateTable($event)"
                   [totalRecords]="totalRecords" [pageLinks] ="4" #dt>

        <p-column field="checkbox" header="" [style]="{'width':'35px'}" [hidden] = "columnsHidden">

             <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="header">

               <div class = "header-checkbox">

                  <p-checkbox binary="true"  [ngModel]="checkboxValue" (ngModelChange)="selectVisible($event)"></p-checkbox>

               </div>

             </ng-template>
          
          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "column-checkbox">

              <p-checkbox name="groupname" value="val1" [(ngModel)]="rep['selected']" binary="true"></p-checkbox>

            </div>

          </ng-template>

          </p-column>
          
        <p-column field="symbol" header="" [style]="{'width':'50px'}" [hidden] = "columnsHidden">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <apt-report-symbol [value]="rep['type']"></apt-report-symbol>

          </ng-template>

        </p-column>

        <p-column field="reportName" header="Name" sortable="true" [style]="{'width':'22%'}">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "ellipses">

              <a [routerLink]="[rep['index']]" title="{{rep['reportName']}}">{{rep['reportName']}}</a>

            </div>

          </ng-template>

        </p-column>

        <p-column field="type" header="Type"  sortable="true" [style]="{'width':'11%'}">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "ellipses">

              {{rep['type']}}

            </div>

          </ng-template>

        </p-column>

        <p-column field="teamName" header="Team"  sortable="true" [style]="{'width':'11%'}">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "ellipses">

              {{rep['teamName']}}

            </div>

          </ng-template>

        </p-column>

        <p-column field="client" header="Client"  sortable="true" [style]="{'width':'11%'}">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "ellipses">

              {{rep['client']}}

            </div>

          </ng-template>

        </p-column>

        <p-column field="status" header="Status"  sortable="true" [style]="{'width':'10%'}">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "ellipses">

              {{rep['status']}}

            </div>

          </ng-template>

        </p-column>

        <p-column field="date" header="Date"  sortable="true" [style]="{'width':'10%'}">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "ellipses">

              {{rep['date']}}

            </div>

          </ng-template>

        </p-column>

        <p-column field="responses" header="Responses"  sortable="true" [style]="{'width':'10%'}">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "ellipses">

              {{rep['responses']}}

            </div>

          </ng-template>

        </p-column>

        <p-column field="sgUrl" header=" " [style]="{'width':'7%'}">

          <ng-template let-col let-rep="rowData" let-ri="rowIndex" pTemplate="body">

            <div class = "ellipses-menu" (click)="menu.toggle($event)">

              <i class="fa fa-ellipsis-h" aria-hidden="true" style = "font-size: 16px"></i>

            </div>

            <p-menu #menu popup="popup" [model]="getMenu(rep['sgUrl'])"  appendTo="body" ></p-menu>
                                
          </ng-template>
              
        </p-column>

      </p-dataTable>
      
    </div>

    <div style = "display: table-cell">

      <div class = "side-arrow-container" *ngIf="columnsHidden">

          <i class = "fa fa-chevron-right fa-3x" (click) = "moveRight()"></i>
          
      </div>

    </div>

  </div>

</div>

<div *ngIf = "!columnsHidden" >
  <p-paginator [rows]="numRows" [totalRecords]="numRecords"  [pageLinks] ="4" (onPageChange)="updateTable($event)" ></p-paginator>
</div>
