  <div class = "side-nav__header">Menu</div>


  <hr class = "side-nav__divider">

  <div class = "side-nav-list">

      <div (click) = "toggleNav(0)" class = "side-nav__label">Apps</div>

      <ul *ngIf = "expandedNav[0]">
          <li>
              <a [routerLink]="['../reports']"><i class = "fa fa-bar-chart"></i> Reports</a>
          </li>
          <li>
              <a [routerLink]="['../reports']"><i class = "fa fa-address-book-o"></i> Contact Management</a>
          </li>
          <li>
              <a [routerLink]="['../reports']"><i class = "fa fa-clock-o"></i> Time Off</a>
          </li>
            <li>
              <a href="http://10.0.0.56:4300/apt/details"><i class = "fa fa-glass"></i> APT</a>
            </li>
      </ul>

      
      
  <hr class = "side-nav__divider">

      <div (click) = "toggleNav(1)" class ="side-nav__label">Account</div>

      <ul *ngIf = "expandedNav[1]">
          <li>
              <a [routerLink]="['../reports']"><i class = "fa fa-user"></i> Profile</a>
          </li>
          <li>
              <a [routerLink]="['../reports']"><i class = "fa fa-cog"></i> Settings</a>
          </li>
          <li>
              <a [routerLink]="['../reports']"><i class = "fa fa-sign-out"></i> Log Out</a>
          </li>
      </ul>

  <hr class = "side-nav__divider">
      <div (click) = "toggleNav(2)" class ="side-nav__label">Tools</div>

      <ul *ngIf = "expandedNav[2]">
          <li>
              <a (click)="toggleCalc()"><i class = "fa fa-calculator"></i> Calculator</a>
          </li>
         
      </ul>
  </div>