.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Start my code [JRG] */
.main-content-container {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;

  /* This is a hack to account for the pull right/left with the footer & buttons */
  padding-bottom: 40px;
}

.bold {
  font-weight: bold;
}

/* Put a space between the buttons */
.footer button {
  margin-left: 5px;
}

/* Border the table and stretch it to be wide! */
table {
  width: 100%;
  border: 1px solid black;
}
/* Border the headers and darken the headers*/
table th {
  background-color: #aaaaaa;
  border: 1px solid black;
  padding: 5px;
}
/* For the first TD in TR (the left-most column), add some padding */
table tr>td {
  padding-left: 5px;
  padding-right: 5px;
}
/* Border up the TD */
table td {
  border: 1px solid black;
}
/* Center the checkboxes */
table input[type=checkbox] {
  /* Need to specify this as important to override the Bootstrap style */
  margin: 0 auto !important;
}
/* Override the text box radius */
table input[type=text] {
  border-radius: 1px;
}
/* Do NOT override the border for disabled text boxes (default to Bootstrap, which is a nice look) */
table tr:not(.disabled) input[type=text] {
  border: 1px solid black;
}
/* Disable any text in disabled rows */
table tr.disabled td {
  color: gray;
}
