<div class = "page-header-text">{{report?.reportName}}</div>

<div class = "report-detail-header__info-block" *ngIf = "report">

    <strong>Report Type:</strong> {{report?.type}}

    <br>
    
    <strong>Issue Date:</strong> {{report?.date}}

</div>

