<sr-report-detail-header [report]="selectedReport"></sr-report-detail-header>

<hr class = "content-box__divider">

<div class = "layout-left">

    <div class="content-box">

        <div class = "side-nav__header">Report Details</div>

        <hr class = "content-box__divider">

        <div class = "side-nav-list">

            <div (click) = "toggleNav(0)" class = "side-nav__label">Overall</div>

            <div *ngIf="expandedNav[0]">
                <ul>
                    <li>
                        <a [routerLink]="['details']">Survey Details</a>
                    </li>
                    <li>
                        <a [routerLink]="['summary']">Response Summary</a>
                    </li>
                </ul>
            </div>

            <div *ngIf = "respondentsGenerated">

                <div (click) = "toggleNav(1)"  class = "side-nav__label">Respondents</div>

                <div *ngIf="expandedNav[1]">
                    <ul>
                        <li  *ngFor="let name of respondents, let i=index">
                            <a [routerLink]="['respondent',i]">{{name}}</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div (click) = "toggleNav(2)"  class = "side-nav__label">Questions</div>

            <div *ngIf="expandedNav[2]">
                <ul>
                    <li>
                        <a>Link</a>
                    </li>
                </ul>
            </div>

            <div (click) = "toggleNav(3)"  class = "side-nav__label">Section #4</div>

            <div *ngIf="expandedNav[3]">
                <ul>
                    <li>
                        <a>Link</a>
                    </li>
                </ul>
            </div>
                            
            <div (click) = "toggleNav(4)"  class = "side-nav__label">Section #5</div>

            <div *ngIf="expandedNav[4]">
                <ul>
                    <li>
                        <a>Link</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div class="layout-right">

    <div class="content-box">

        <router-outlet></router-outlet>

    </div>
</div>