.large-text-mixin {
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.page-header-text {
  font-size: 24px;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: #0b2d53;
  letter-spacing: .25px;
  display: inline;
}
.footer {
  vertical-align: bottom;
  background: url("../../assets/img/solu/footer_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 15px 0 15px;
  color: #fff;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.dev-build {
  background-color: #a01c20;
  text-align: center;
  color: #fff;
  font-family: segoe;
  font-size: 24px;
}
.page-base {
  width: 100%;
  vertical-align: top;
}
