.large-text-mixin {
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.page-header-text {
  font-size: 24px;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: #0b2d53;
  letter-spacing: .25px;
  display: inline;
}
.calculator__field-container {
  padding: 10px 6px;
  margin-right: 10px;
  position: relative;
  top: 8px;
  width: 100%;
}
.field__stack {
  height: 30px;
  background-color: #f7f7f7;
  border-radius: 5px;
  text-align: center;
}
.field__current {
  height: 30px;
  background-color: #f7f7f7;
  border-radius: 5px;
  text-align: center;
}
input[type='text'] {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-width: 0px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: right;
  opacity: 1;
}
input[type='text']:focus {
  border: none;
}
.calculator__button {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.calculator__button:hover {
  background-color: #dddddd;
}
.calculator__button:active {
  background-color: #cccccc;
  padding-top: 1px;
}
.calculator__number {
  color: #313131;
  letter-spacing: .25px;
  font-family: roboto;
  font-size: 19px;
  cursor: pointer;
}
.num {
  font-weight: bold;
  font-size: 22px;
}
td {
  width: 50px;
  height: 35px;
}
tr {
  height: 35px;
}
