.large-text-mixin {
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.page-header-text {
  font-size: 24px;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: #0b2d53;
  letter-spacing: .25px;
  display: inline;
}
.hover-mixin {
  cursor: pointer;
}
.hover-mixin:hover {
  background-color: #114580;
}
.header {
  width: 100%;
  display: table;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #0b2d53;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.header input[type='text'] {
  background-color: transparent;
  width: 100%;
  height: 30px;
  border-width: 0px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  padding-right: 32px;
  padding-left: 10px;
  float: left;
  position: relative;
  bottom: 15px;
}
.header__body {
  display: table-row;
}
.header__logo {
  float: left;
  display: inline-block;
  height: 46px;
  font-family: squada;
  color: #fff;
  font-size: 30px;
  letter-spacing: 1.5px;
  padding: 2px 8px 0px 8px;
  cursor: pointer;
}
.header__logo:hover {
  background-color: #114580;
}
.header__utility {
  float: right;
  position: relative;
}
.header__utility__search-container {
  display: inline;
  height: 100%;
  padding: 0px 6px;
  float: left;
  margin-right: 10px;
  position: relative;
  top: 8px;
}
.header__utility__search-container .fa-search {
  position: relative;
  float: right;
  top: 7px;
  right: 8px;
  font-size: 15px;
  color: #fff;
}
@media (max-width: 35em) {
  .header__utility__search-container .fa-search {
    cursor: pointer;
  }
}
.header__utility__search {
  width: 30px;
  height: 30px;
  background-color: #3b5775;
  border-radius: 5px;
  text-align: center;
}
.header__utility__cog-container {
  display: inline-block;
  padding-right: 17px;
}
.header__utility__button-container {
  display: inline;
  height: 46px;
  padding: 0px 6px;
  float: right;
  cursor: pointer;
}
.header__utility__button-container:hover {
  background-color: #114580;
}
.button__initial {
  width: 30px;
  height: 30px;
  background-color: #a01c20;
  border-radius: 5px;
  text-align: center;
  position: relative;
  top: 8px;
}
.button__initial--text {
  color: #fff;
  letter-spacing: .25px;
  font-family: roboto;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  bottom: 1px;
}
.nav-text-mixin {
  font-family: Arial;
  color: #fff;
  padding-right: 10px;
  font-weight: normal;
  font-size: 14px;
}
.header__nav {
  padding-left: 7px;
}
.header__nav a {
  font-family: Arial;
  color: #fff;
  padding-right: 10px;
  font-weight: normal;
  font-size: 14px;
}
.header__nav a:hover {
  font-family: Arial;
  color: #fff;
  padding-right: 10px;
  font-weight: normal;
  font-size: 14px;
  text-decoration: underline;
}
.header__subnav a {
  font-family: segoe;
  font-weight: bold;
  color: #fff;
  padding-right: 10px;
}
.header__subnav-mixin {
  width: 100%;
  padding-left: 10%;
  display: table;
  padding-top: 0px;
}
.header__subnav--display {
  background-color: #313131;
  border: #000 1px solid;
  height: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-left: 10%;
  display: table;
  padding-top: 0px;
}
.header__subnav--hidden {
  border: none;
  height: 30px;
  width: 100%;
  padding-left: 10%;
  display: table;
  padding-top: 0px;
}
.header__link-button {
  height: 100%;
  margin: 0px;
  border: none;
  float: left;
  padding: 5px;
  text-align: center;
}
.header__link-button a {
  color: #fff;
}
.header__link-button:hover {
  background-color: #464646;
}
.header__link-button:hover a {
  color: #fff;
}
.hamburger__symbol {
  color: #fff;
  font-size: 24px;
  float: left;
  padding-top: 13px;
}
.hamburger__container {
  height: 46px;
  display: inline-block;
  float: left;
  padding: 0px 10px;
  cursor: pointer;
}
.hamburger__container:hover {
  background-color: #114580;
}
