@import "global.less";

.layout-mixin{

    display: inline-block;
    vertical-align: top;
}

.layout-left{

    width: 19%; 
    .layout-mixin();

}

.layout-right{

    width: 79%; 
    float: right;
    .layout-mixin();
}