body .ui-widget,
body .ui-widget .ui-widget,	
body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;		    
    text-decoration: none;		 
    font-size: 1em;		    
    border-radius: 3px;		
}

	body .ui-chkbox .ui-chkbox-box {		
    border: 2px solid #0b2d53;		 
    background-color: #ffffff;		   
    -moz-transition: background-color 0.3s;		   
    -o-transition: background-color 0.3s;		    
    -webkit-transition: background-color 0.3s;		   
    transition: background-color 0.3s;		    
    width: 16px;		
    height: 16px;
    
}

body .ui-chkbox .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    border: none !important
}		

body .ui-chkbox .ui-chkbox-box.ui-state-active {		
    border: 1px solid #a01c20;		  
    background-color: #a01c20;		
    color: #ffffff;		 
}

body .ui-chkbox .ui-chkbox-box.ui-state-focus {
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}		

body .ui-widget-content {	
    border-color: #ffffff;		 
    color: #000000;		
    border-radius: 5px; 		
    padding-left: 10px; 		
    padding-right: 10px;		
    border-width: 0px !important;		
}		

			
body .ui-widget-header {	
    background-color: #313131;		    
    border: none;		   
    color: #ffffff;		   
    font-weight: normal;		
    font-family: segoe;		
    font-size: 14px;		
}

body .ui-widget-content .ui-datatable-odd,		
body .ui-widget-content .ui-datatable-even		
 {		
    border-color: #dddddd;		
    color: #000000;		
}


.ui-chkbox .ui-chkbox-box {	
    width: 1.125em;		   
    height: 1.125em;		  
    line-height: 1.125em;		  
    -moz-border-radius: 1px;		  
    -webkit-border-radius: 1px;		   
    border-radius: 1px;		   
    text-align: center;		    
}		
.ui-chkbox .ui-chkbox-icon {		
    line-height: inherit;		  
    display: block;		   
    -webkit-text-stroke: 1px #a90329;		
    font-size: 15px;		
}

ui-datatable table {	
	border-collapse:separate !important;		
    width: 100%;		   
    table-layout: fixed;		   
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);		
    border-radius: 5px;		
    border: #ddd 1px solid;		
}		

.ui-datatable thead th {
    text-align: left;		   
}

.ui-datatable thead tr {		
    border-width: 0;		   
    border-radius: 5px;		
    padding: 5px;		
}

.ui-datatable .ui-datatable-thead > tr > th,		
.ui-datatable .ui-datatable-tfoot > tr > td,		
.ui-datatable .ui-datatable-data > tr > td {		
    border-color: #dddddd;		  
    box-sizing: border-box;		   
    padding: .25em .5em;		  
    overflow: hidden;		  
    border-width: 0px;		  
    border-style: solid;		   
    background-color: #fff;		
}

			
.ui-datatable .ui-datatable-data > tr:last-child > td:first-child{	

    border-radius: 0 0 0 5px;		
}		
.ui-datatable .ui-datatable-data > tr:last-child > td:last-child{		
    border-radius: 0 0 5px 0;		
}		
.ui-datatable .ui-datatable-data > tr > td a{		
    color: #404040;		
    text-transform: uppercase;		
}		
.ui-datatable .ui-datatable-data > tr > td a:hover{		
    color: #000;		
    text-transform: uppercase;		
}
.ui-datatable .ui-sortable-column-icon {	
    float: right;		
    margin-left: .125em;
}

		
ui-datatable-reflow .ui-datatable-data > tr > td {		  
    text-align: left;		     
    display: block;		       
    border: 0 none;		      
    width: 100% !important;		        
    -webkit-box-sizing: border-box;				
    -moz-box-sizing: border-box;				
    box-sizing: border-box;				
    float: left;				
    clear: left;			
}
	
body .ui-paginator {
    background-color: transparent;		   
    padding: 0;		 
    box-sizing: border-box;		  
}	
body .ui-paginator .ui-paginator-first,	
body .ui-paginator .ui-paginator-prev,	
body .ui-paginator .ui-paginator-next,	
body .ui-paginator .ui-paginator-last {	
    color: #313131;		  
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    min-height: 0.875em;		   
    min-width: 2em;		   
    padding: 0.5em 0.5em;		   
    vertical-align: top;		    
    border: 0px;		
}		
body .ui-paginator .ui-paginator-first:hover,		
body .ui-paginator .ui-paginator-prev:hover,		
body .ui-paginator .ui-paginator-next:hover,	
body .ui-paginator .ui-paginator-last:hover {		
    background-color: #f4f3f4;
    border: 0px;		
}

body .ui-paginator .ui-paginator-first {	
    -moz-border-radius: 3;		   
    -webkit-border-radius: 3;		  
    border-radius: 3;		
}		
body .ui-paginator .ui-paginator-prev {	
    -moz-border-radius: 3;		  
    -webkit-border-radius: 3;		   
    border-radius: 3;		    
}		
body .ui-paginator .ui-paginator-next {		
    -moz-border-radius: 3;		   
    -webkit-border-radius: 3;		
    border-radius: 3;		  
}		
body .ui-paginator .ui-paginator-last {	
    -moz-border-radius: 3;		 
    -webkit-border-radius: 3;		   
    border-radius: 3;		  
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page {		
    padding: 0.5em 0.625em;		  
    min-width: 2em;		 
    color: #000000;		 
    -moz-transition: background-color 0.3s;		   
    -o-transition: background-color 0.3s;		    
    -webkit-transition: background-color 0.3s;		 
    transition: background-color 0.3s;		    
    border-radius: 3;		 
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    color: #ffffff;
    background-color: #a01c20;		
    color: #fff;		
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page:hover.ui-state-active {	
    background-color: #a01c20;		  
    color: #fff;		
}
body .ui-datatable .ui-paginator {
    padding: 5px;		
    width: 20%;		
    align-self: center;		
    margin-left: 40%;		
    background-color: #fff;		
    margin-top: 10px;		
    border-radius: 5px;		
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);		
}
@media (max-width: 35em){	
    
    body .ui-datatable .ui-paginator {	
        padding: 5px;		 
        width: 100%;		
        align-self: center;		
        background-color: #fff;		
        margin-left: 0px;		
        margin-top: 10px;		
        border-radius: 5px;		
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);		
    }		
}		
body .ui-datatable .ui-datatable-thead > tr > th {		
    background-color: #313131;		
    padding: 1em;		
    border-width: 0px;		
    color: #ffffff;		
    height: 50px;		
}		
body .ui-datatable .ui-datatable-thead > tr > th:first-child {		
    border-radius: 5px 0 0 0;		
    -moz-border-radius: 5px 0 0 0;		
    -webkit-border-radius: 5px 0 0 0;		
}		
body .ui-datatable .ui-datatable-thead > tr > th:last-child {		
    border-radius: 0 5px 0 0 ;		
    -moz-border-radius: 0 5px 0 0 ;		
    -webkit-border-radius: 0 5px 0 0 ;		
}		
body .ui-datatable thead th.ui-sortable-column:not(.ui-state-active):hover {		
    background-color: #464646;		  
}		
body .ui-datatable thead th.ui-state-active {	
    background-color: #464646;		 
    border-color: #c7c7c7;		 
    color: #ffffff;		
}
			
body .ui-datatable .ui-datatable-data tr{		
    border-width: 0px;		
}		
body .ui-datatable .ui-datatable-data tr:last-child{		
    border-radius: 0 0 5px 5px;		
}		

	body .ui-datatable .ui-datatable-data tr.ui-datatable-even {		
    background-color: #ffffff;	
}		
body .ui-datatable .ui-datatable-data tr.ui-datatable-even:hover {		
    background-color: #000000;		
}
	body .ui-datatable .ui-datatable-data.ui-datatable-hoverable-rows > tr.ui-widget-content:not(.ui-state-highlight):hover {	
    background-color: #eeeeee !important;	
    cursor: pointer;		   
}

	body .ui-datatable .ui-datatable-data > tr > td {	
    padding-left: 1em;	
    background-color: transparent;		
    padding-top: 5px;		
    padding-bottom: 7px;		
    border-top: 1px solid #ddd;		
}