.large-text-mixin {
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.page-header-text {
  font-size: 24px;
  font-family: roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: #0b2d53;
  letter-spacing: .25px;
  display: inline;
}
.side-nav__title {
  color: #a01c20;
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.side-nav__header {
  color: #0b2d53;
  padding: 10px;
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.side-nav__label {
  color: #313131;
  padding-left: 10px;
  font-size: 22px;
  font-family: roboto;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}
.side-nav__label p {
  cursor: pointer;
}
.side-nav-list ul {
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0px 0px 10px 0px;
}
.side-nav-list li {
  padding-left: 10px;
  line-height: 25px;
}
.side-nav-list li:hover {
  background-color: #0b2d53;
  color: #ffffff;
}
.side-nav-list li:hover a {
  color: #ffffff;
}
.side-nav-list li:hover i {
  color: #ffffff;
}
.side-nav-list a {
  color: #313131;
  font-family: segoe;
  line-height: 1.5;
}
.side-nav__divider {
  margin-top: 0px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ddd;
}
