@import "global.less";

.side-nav__title{

    color: @color-highlight;
    .large-text-mixin();

}

.side-nav__header{

    color: @color-brand;
    padding: 10px;
    .large-text-mixin();

}

.side-nav__label{

    color: @color-header;
    padding-left: 10px;
    .large-text-mixin();

    p{
        cursor: pointer;
    }
}


.side-nav-list {

    ul{

        list-style: none;
        color: #fff;
        margin: 0;
        padding: 0px 0px 10px 0px;
    }

    li{

        padding-left: 10px;
        line-height: 25px;

         &:hover{
             background-color: @color-brand;
             color: #ffffff;

             a{
                 color: #ffffff;
             }
             i{
                 color: #ffffff;
             }

         }
    }


    a{

        color: @color-header;
        font-family: @font-family-paragraph;
        line-height: 1.5;
  
    }

}

.side-nav__divider{

    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ddd;
}