<div class="main-content-container">
  <h2>Print Center Options</h2>
  <div>In order for the Print Center to best serve you, please fill in the information below</div>

  <div>

    <form>
      <div class="form-group">
        <div class="bold">Deliver To:</div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="model.deliverTo" name="deliverto" value="owner">Meeting Owner - Delivery will occur one business day prior to the meeting time</input>
          </label>
          <label>
            <input type="radio" ng-model="model.deliverTo" name="deliverto" value="room">Meeting Room - Delivery will occur 15 minutes prior to the meeting time</radio>
          </label>
        </div>
      </div>
      <div class="form-group">
        <textarea ng-model="model.instructions" class="form-control" rows="3" placeholder="If you have any specific instruction pertinent to your entire order, please enter them here"></textarea>
      </div>

      <!-- // This is where documents will go -->
      <div>
        <table>
            <tr>
              <th>File</th>
              <th>Print</th>
              <th>Color</th>
              <th>Notes</th>
            </tr>

          <tr printable-file ng-repeat="file in model.documents.files"></tr>

        </table>
      </div>

      <div class="footer">
        <div class="pull-left">*File is not compatible with Print Center</div>
        <button class="btn btn-primary pull-right" ng-click="submit();">Submit</button>
        <button class="btn btn-danger pull-right" ng-click="cancel();">Cancel</button>
      </div>

    </form>

  </div>
</div>

